@charset "UTF-8";
*{padding:0;margin:0;list-style: none;text-decoration:none;border:none;}
body{font-family:"微软雅黑","Microsoft YaHei";}
.leftNav{z-index:10;position:absolute;left:0;top:0;width:200px;height:100%;background:#ccc;min-height: 600px;overflow:auto;}
.leftNav h1{height:29px;line-height:29px;font-size: 18px;text-align: center;border-bottom:1px solid #000;padding-bottom:5px;padding-top:5px;}
.leftNav .unit{padding-top:5px;padding-left:5px;}
.leftNav .unit h6{font-size:14px;height:20px;line-height: 20px;}
.leftNav .unit li{height:30px;line-height: 30px;font-size: 14px;padding-left:10px;padding-right:10px;}
.leftNav .unit li a{float: right;color:#006dcc}

.topNav{z-index:5;width:100%;min-width:1220px;height:30px;padding-top:5px;padding-bottom:5px;background:#333;position:absolute;top:0;}
.topNav .layout{height:30px;padding-left:220px;}
.topNav .layout a{border-radius:5px;margin-right:8px;float: left;padding-left:15px;padding-right:15px;display: block;height: 30px;line-height:30px;font-size: 14px;color:#fff;background:#006dcc;}
.topNav .layout a:hover{background:#0044cc;}
.topNav .layout a.focus{background:#0044cc;}
.rightMain{width:100%;z-index:1;position:absolute;left:0;top:0;height:100%;min-height: 600px;}
.rightMain .leftBox{z-index:1;left:0;top:0;padding-left:200px;width: 515px;height:100%;min-height: 600px;position:absolute;overflow:auto;}
.rightMain .leftBox .layout{width: 100%;padding-top:40px;}
.rightMain .leftBox .layout .viewTitle{text-indent:10px;font-size: 16px;font-weight:normal;height: 25px;line-height: 25px;border-bottom:1px solid #000;}

.rightMain .leftBox .topBox{display: none;}
.rightMain .leftBox .bottomBox{display: none;}
.rightMain .leftBox .editBox{width: 100%;position:relative;margin-top:10px;}
.rightMain .leftBox .editArea{display: block;}
.rightMain .leftBox .viewArea{display: none;}
.rightMain .leftBox .viewArea .viewBox{padding:10px 50px 10px;width: 390px;}

.rightMain .rightBox{z-index:1;left:716px;top:0;width: 500px;height:100%;min-height: 600px;border-left:1px solid #000;position:absolute;overflow:auto;}
.rightMain .rightBox .layout{padding-top:50px;padding-left:10px;font-size: 14px;}
.rightMain .rightBox .layout .row{padding-bottom:8px;}
.rightMain .rightBox .layout .row input{border:1px solid #000;}
.rightMain .rightBox .layout .row textarea{border:1px solid #000;width: 425px;height:80px;resize: none;}
#rwCode img{width: 232px;height:232px;}

.baseCT{transition:top .5s;-moz-transition:top .5s;-o-transition:top .5s;-webkit-transition:top .5s;left:10px;width:480px;position:absolute;border:1px solid #000;font-size: 12px;padding-bottom:10px;background:#fff;}
.CTnav{height:25px;line-height:25px;border-bottom:1px solid #000;padding:5px;}
.CTnav a.btn{background:#006dcc;color:#fff;float: right;margin-right:5px;display: block;height:25px;line-height: 25px;padding-left:8px;padding-right:8px;}
.CTnav a.btn:hover{background:#0044cc;}
.CTnav a.delBtn{background:#953b39;color:#fff;float: right;margin-right:5px;display: block;height:25px;line-height: 25px;padding-left:8px;padding-right:8px;}
.CTnav a.delBtn:hover{background:#b94a48;}
.CTrow{padding:5px;}
.CTrow input.textInput{border:1px solid #000;padding-left:5px;}
.CTrow select{border:1px solid #000;}
.CTrow .textArea{border:1px solid #000;width: 100%;height:50px;resize: none;}
.CTrow .addBNBtn{height:25px;line-height: 25px;padding-left:8px;padding-right:8px;background:#006dcc;color:#fff;cursor:pointer;}
.CTrow .delBNBtn{height:25px;line-height: 25px;padding-left:8px;padding-right:8px;background:#953b39;color:#fff;cursor:pointer;}

.topBox{padding-top:10px;padding-left:10px;padding-bottom:10px;border-bottom:1px solid #000;}
.topCT{border:1px solid #000;font-size: 12px;padding-bottom:10px;background:#fff;width:480px;}
.topCTnav{height:25px;line-height:25px;border-bottom:1px solid #000;padding:5px;}
.topCTnav a.btn{background:#006dcc;color:#fff;float: right;margin-right:5px;display: block;height:25px;line-height: 25px;padding-left:8px;padding-right:8px;}
.topCTnav a.btn:hover{background:#0044cc;}
.topCTnav a.delBtn{background:#953b39;color:#fff;float: right;margin-right:5px;display: block;height:25px;line-height: 25px;padding-left:8px;padding-right:8px;}
.topCTnav a.delBtn:hover{background:#b94a48;}
.topCTrow{padding:5px;}
.topCTrow input.textInput{border:1px solid #000;padding-left:5px;}
.topCTrow select{border:1px solid #000;}
.topCTrow .textArea{border:1px solid #000;width: 100%;height:50px;resize: none;}

.bottomBox{padding-top:10px;padding-left:10px;padding-bottom:10px;border-bottom:1px solid #000;}
.bottomCT{border:1px solid #000;font-size: 12px;padding-bottom:10px;background:#fff;width:480px;}
.bottomCTnav{height:25px;line-height:25px;border-bottom:1px solid #000;padding:5px;}
.bottomCTnav a.btn{background:#006dcc;color:#fff;float: right;margin-right:5px;display: block;height:25px;line-height: 25px;padding-left:8px;padding-right:8px;}
.bottomCTnav a.btn:hover{background:#0044cc;}
.bottomCTnav a.delBtn{background:#953b39;color:#fff;float: right;margin-right:5px;display: block;height:25px;line-height: 25px;padding-left:8px;padding-right:8px;}
.bottomCTnav a.delBtn:hover{background:#b94a48;}
.bottomCTrow{padding:5px;}
.bottomCTrow input.textInput{border:1px solid #000;padding-left:5px;}
.bottomCTrow select{border:1px solid #000;}
.bottomCTrow .textArea{border:1px solid #000;width: 100%;height:50px;resize: none;}

.red{color:red;}


