@charset "UTF-8";
*{padding:0;margin:0;list-style: none;text-decoration:none;border:none;}
body{font-family:"微软雅黑","Microsoft YaHei";}
.leftNav{color:#fff;z-index:10;position:absolute;left:0;top:0;width:200px;height:100%;background:#3d4550;min-height: 600px;overflow:auto;border-right:1px solid #3d4550;}
.leftNav h1{height:29px;line-height:29px;font-size: 16px;text-align: center;border-bottom:1px solid #3F4652;padding-bottom:5px;padding-top:5px;}
.leftNav .unit{font-size:14px;}
.leftNav .unit li{overflow:hidden;transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;-o-transition: all 0.5s;}
.leftNav .unit li.hiddenNav{height:35px;}
.leftNav .unit h6{font-size:14px;height:34px;line-height:34px;text-indent: 35px;border-bottom:1px solid #3F4652;font-weight:normal;cursor:pointer;}
.leftNav .navIcon{background-size:15px;background-repeat: no-repeat;background-position:9px 9px;}
.leftNav .navIcon1{background-image:url(https://img.ssl.q1.com/editPage/img/suspension.png?v=1)}
.leftNav .navIcon2{background-image:url(https://img.ssl.q1.com/editPage/img/images.png?v=1)}
.leftNav .navIcon3{background-image:url(https://img.ssl.q1.com/editPage/img/text.png?v=1)}
.leftNav .navIcon4{background-image:url(https://img.ssl.q1.com/editPage/img/planting.png?v=1)}
.leftNav .subNav{background:#515b68;}
.leftNav .subNav li{text-align: center;padding-top:10px;padding-bottom:10px;}
.leftNav .subNav li a{display: block;color:#fff;}
/*滚动条样式*/
.leftNav::-webkit-scrollbar{width:4px;}
.leftNav::-webkit-scrollbar-thumb{border-radius: 10px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: rgba(255,255,255,0.8);}
.leftNav::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);border-radius: 0;background: rgba(0,0,0,0.1);}

.topNav{z-index:5;width:100%;min-width:1220px;height:30px;padding-top:5px;padding-bottom:5px;background:#3d4550;position:absolute;top:0;}
.topNav .layout{height:30px;padding-left:220px;}
.topNav .layout a{border-radius:3px;margin-right:15px;float: left;padding-left:20px;padding-right:20px;display: block;height: 30px;line-height:30px;font-size: 12px;color:#fff;background:#409EFF;}
.topNav .layout a:hover{background:#79BBFF;}
.topNav .layout a.focus{background:#79BBFF;}
.rightMain{width:100%;z-index:1;position:absolute;left:0;top:0;height:100%;min-height: 600px;}

.rightMain .leftBox{color:#464646;z-index:1;left:0;top:0;padding-left:200px;width: 517px;height:100%;min-height: 600px;position:absolute;overflow:auto;}
.leftBox .layout{width: 100%;padding-top:40px;}
.leftBox .layout .viewTitle{box-shadow: 0 2px 5px #c5c5c5;color:#464646;text-indent:10px;font-size: 14px;height: 30px;line-height: 30px;border-bottom:1px solid #d8dce5;}
.leftBox .topBox{display: none;}
.leftBox .bottomBox{display: none;}
.leftBox .editBox{width: 100%;position:relative;margin-top:25px;}
.leftBox .editArea{display: block;}
.leftBox::-webkit-scrollbar{width:4px;}
.leftBox::-webkit-scrollbar-thumb{border-radius: 10px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: rgba(0,0,0,0.5);}
.leftBox::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);border-radius: 0;background: rgba(0,0,0,0.1);}
.txtColor{display: none}

.rightMain .rightBox{z-index:1;left:716px;top:0;width: 450px;height:100%;min-height: 600px;border-left:1px solid #CCD5DB;position:absolute;overflow:auto;border-right:1px solid #CCD5DB;}
.rightBox .layout{padding-top:40px;font-size: 14px;}
.rightBox .layout .viewTitle{box-shadow: 0 2px 5px #c5c5c5;color:#464646;text-indent:10px;font-size: 14px;height: 30px;line-height: 30px;border-bottom:1px solid #d8dce5;}
.rightBox .layout .viewBox{box-shadow: 0 3px 5px #c5c5c5;width:390px;height:630px;border:1px solid #CCD5DB;margin:15px auto;}
.rightBox .layout p{text-align: center; color:#464646}

.rightBox2{z-index:1;left:1166px;top:0;width: 400px;height:100%;min-height: 600px;position:absolute;overflow:auto;border-right:1px solid #CCD5DB;}
.rightBox2 .layout{padding-top:40px;font-size: 14px;}
.rightBox2 .Title{box-shadow: 0 2px 5px #c5c5c5;margin-bottom:20px;color:#464646;text-indent:10px;font-size: 14px;height: 30px;line-height: 30px;border-bottom:1px solid #d8dce5;float: left;width: 100%}
.rightBox2 .row{float: left;width: 100%;padding-top:10px;padding-bottom:5px;}
.rightBox2 .row .txt{height:25px;float: left;width: 105px;text-align: right;line-height:25px;}
.rightBox2 .row input{border-radius:3px;border:1px solid #9fa8af;height:23px;float: left;width: 170px;}
.rightBox2 .row select{border-radius:3px;border:1px solid #9fa8af;height:25px;float: left;width: 170px;}
.rightBox2 .row .nameBox{float: left;clear:both;padding-top:10px;padding-left:105px;}
.rightBox2 .row .urlTxt{float: left;width: 100%;text-align: center;clear:both;padding-bottom:10px;}
.rightBox2 .row textarea{border-radius:3px;border:1px solid #9fa8af;background:#dbdcdf;width: 370px;height:80px;resize: none;float: left;margin-left:15px;}
#rwCode img{width: 232px;height:232px;}

.baseCT{transition:top .5s;-moz-transition:top .5s;-o-transition:top .5s;-webkit-transition:top .5s;left:15px;width:480px;position:absolute;box-shadow: 2px 2px 5px #c5c5c5;overflow:hidden;border-radius: 5px;border:1px solid #9fa8af;font-size: 14px;padding-bottom:10px;background:#fff;}
.CTnav{height:30px;line-height:30px;border-bottom:1px solid #9fa8af;background:linear-gradient(#333d4b, #697484);color:#fff;padding:5px 0 5px 15px;font-weight:bold;}
.CTnav a.btn{background:#409EFF;color:#fff;float: right;font-weight:normal;margin-right:10px;display: block;height:28px;line-height: 28px;padding-left:13px;padding-right:13px;border-radius: 3px;}
.CTnav a.btn:hover{background:#79BBFF;}
.CTnav a.delBtn{background:#F56C6C;color:#fff;float: right;font-weight:normal;margin-right:10px;display: block;height:28px;line-height: 28px;padding-left:13px;padding-right:13px;border-radius: 3px;}
.CTnav a.delBtn:hover{background:#f58787;}
.CTrow{float: left;width: 100%;padding-top:15px;padding-bottom:8px;}
.CTrow span{float: left;width: 150px;text-align:right;height:25px;line-height:25px;}
.CTrow em{float: left;height:25px;line-height:25px;font-style:normal;margin-left:5px;}
.CTrow input.textInput{border-radius:3px;border:1px solid #9fa8af;padding-left:5px;height:25px;float: left;width: 180px;}
.CTrow select{border-radius:3px;border:1px solid #9fa8af;height:25px;line-height:25px;padding-left:5px;padding-right:5px;}
.CTrow .textArea{border-radius:3px;border:1px solid #9fa8af;width: 300px;height:60px;resize: none;float: left;padding:5px;}
.CTrow .addBNBtn{height:25px;line-height: 25px;padding-left:15px;padding-right:15px;background:#409EFF;color:#fff;cursor:pointer;border-radius:3px;}
.CTrow .delBNBtn{height:25px;line-height: 25px;padding-left:15px;padding-right:15px;background:#F56C6C;color:#fff;cursor:pointer;border-radius:3px;}
.CTrow .bnImgChange{width: 250px;}

.topBox{box-shadow: 0 2px 5px #c5c5c5;padding-top:20px;padding-left:15px;padding-bottom:20px;border-bottom:1px solid #CCD5DB;}
.topCT{box-shadow: 2px 2px 5px #c5c5c5;overflow:hidden;border-radius: 5px;border:1px solid #9fa8af;font-size: 14px;padding-bottom:10px;background:#fff;width:480px;}
.topCTnav{height:30px;line-height:30px;border-bottom:1px solid #9fa8af;background:linear-gradient(#333d4b, #697484);color:#fff;padding:5px 0 5px 15px;font-weight:bold;}
.topCTnav a.btn{background:#006dcc;color:#fff;float: right;font-weight:normal;margin-right:10px;display: block;height:28px;line-height: 28px;padding-left:8px;padding-right:8px;}
.topCTnav a.btn:hover{background:#0044cc;}
.topCTnav a.delBtn{background:#F56C6C;color:#fff;float: right;font-weight:normal;margin-right:10px;display: block;height:28px;line-height: 28px;padding-left:13px;padding-right:13px;border-radius: 3px;}
.topCTnav a.delBtn:hover{background:#f58787;}
.topCTrow{float: left;width: 100%;padding-top:15px;padding-bottom:8px;}
.topCTrow span{float: left;width: 150px;text-align:right;height:25px;line-height:25px;}
.topCTrow input.textInput{border-radius:3px;border:1px solid #9fa8af;padding-left:5px;float: left;}
.topCTrow select{border-radius:3px;border:1px solid #9fa8af;height:25px;line-height:25px;padding-left:5px;padding-right:5px;}
.topCTrow .textArea{border:1px solid #000;width: 100%;height:50px;resize: none;}

.bottomBox{box-shadow: 0 2px 5px #c5c5c5;padding-top:20px;padding-left:15px;padding-bottom:20px;border-bottom:1px solid #CCD5DB;}
.bottomCT{box-shadow: 2px 2px 5px #c5c5c5;overflow:hidden;border-radius: 5px;border:1px solid #9fa8af;font-size: 14px;padding-bottom:10px;background:#fff;width:480px;}
.bottomCTnav{height:30px;line-height:30px;border-bottom:1px solid #9fa8af;padding:5px 0 5px 15px;font-weight:bold;background:linear-gradient(#333d4b, #697484);color:#fff;}
.bottomCTnav a.btn{background:#006dcc;color:#fff;float: right;margin-right:10px;display: block;height:28px;line-height: 28px;padding-left:8px;padding-right:8px;}
.bottomCTnav a.btn:hover{background:#0044cc;}
.bottomCTnav a.delBtn{background:#F56C6C;color:#fff;float: right;font-weight:normal;margin-right:10px;display: block;height:28px;line-height: 28px;padding-left:13px;padding-right:13px;border-radius: 3px;}
.bottomCTnav a.delBtn:hover{background:#f58787;}
.bottomCTrow{float: left;width: 100%;padding-top:15px;padding-bottom:8px;}
.bottomCTrow span{float: left;width: 150px;text-align:right;height:25px;line-height:25px;}
.bottomCTrow input.textInput{border-radius:3px;border:1px solid #9fa8af;padding-left:5px;float: left;}
.bottomCTrow select{border-radius:3px;border:1px solid #9fa8af;height:25px;line-height:25px;padding-left:5px;padding-right:5px;}
.bottomCTrow .textArea{border:1px solid #000;width: 100%;height:50px;resize: none;}

.red{color:red;}

.color-box,.color-box-top{
    width:15px;
    height:15px;
    border: 1px solid #9fa8af;
    display: block;
    float: left;
    margin-top:3px;
}
.colpick{
    z-index: 50;
    padding-bottom:15px;
}
.hiddenUnit{
    display: none;
}
.tipsTxt{color:red;padding:5px;text-align: center;}
